USE [testdb]
GO
/****** Object:  User [testdb]    Script Date: 4/16/2026 11:07:01 AM ******/
CREATE USER [testdb] FOR LOGIN [testdb] WITH DEFAULT_SCHEMA=[testdb]
GO
ALTER ROLE [db_owner] ADD MEMBER [testdb]
GO
/****** Object:  Schema [testdb]    Script Date: 4/16/2026 11:07:02 AM ******/
CREATE SCHEMA [testdb]
GO
/****** Object:  Table [testdb].[Attendance]    Script Date: 4/16/2026 11:07:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [testdb].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [nvarchar](20) NULL,
	[AttDate] [date] NULL,
	[Shift] [nvarchar](10) NULL,
	[InTime] [nvarchar](20) NULL,
	[OutTime] [nvarchar](20) NULL,
	[BreakTime] [nvarchar](20) NULL,
	[rts] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [testdb].[AttendanceDeductionLog]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [testdb].[AttendanceDeductionLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [varchar](50) NULL,
	[AttDate] [date] NULL,
	[InTime] [varchar](255) NULL,
	[OutTime] [varchar](255) NULL,
	[BreakTime] [time](7) NULL,
	[Deduction] [decimal](5, 2) NULL,
	[DeductionType] [varchar](50) NULL,
	[Reason] [varchar](200) NULL,
	[CreatedOn] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [testdb].[Commission]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [testdb].[Commission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [varchar](10) NULL,
	[Amount] [decimal](18, 2) NULL,
	[CommissionAmount] [decimal](18, 2) NULL,
	[CommissionDate] [date] NULL,
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
	[sinleamount] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [testdb].[commsioncut]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [testdb].[commsioncut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[emcode] [varchar](255) NOT NULL,
	[AttDate] [datetime] NULL,
	[amount] [int] NULL,
	[remark] [varchar](255) NOT NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [testdb].[emplist]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [testdb].[emplist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[empcode] [varchar](255) NOT NULL,
	[empname] [varchar](255) NULL,
	[empsalary] [varchar](255) NULL,
	[esi] [bit] NULL,
	[sundayamountgive] [bit] NULL,
	[gender] [varchar](255) NULL,
	[rts] [datetime] NULL,
	[status] [bit] NULL,
	[advanceamount] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [testdb].[emplist] ADD [emptype] [varchar](255) NULL
ALTER TABLE [testdb].[emplist] ADD [bankname] [varchar](255) NULL
ALTER TABLE [testdb].[emplist] ADD [bankifsc] [varchar](255) NULL
ALTER TABLE [testdb].[emplist] ADD [bankaccount] [varchar](255) NULL
ALTER TABLE [testdb].[emplist] ADD [folder] [int] NULL
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [testdb].[Employees]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [testdb].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [nvarchar](20) NULL,
	[EmpName] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [testdb].[finalsalaryreport]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [testdb].[finalsalaryreport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[empcode] [varchar](255) NULL,
	[Name] [varchar](255) NULL,
	[deductionday] [varchar](255) NULL,
	[sunday] [varchar](255) NULL,
	[sundayamountextra] [int] NULL,
	[esicut] [varchar](255) NULL,
	[tea] [int] NULL,
	[extracommsion] [int] NULL,
	[grosssalary] [int] NULL,
	[Commission] [int] NULL,
	[advanceamountcut] [int] NULL,
	[dueadvance] [int] NULL,
	[reportmonth] [varchar](255) NULL,
	[reportyear] [varchar](255) NULL,
	[rts] [datetime] NULL,
	[NetSalary] [varchar](255) NULL,
	[ExtraAmountLess] [int] NULL,
	[basicsalary] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [testdb].[LateOpenDay]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [testdb].[LateOpenDay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ldate] [varchar](255) NOT NULL,
	[rts] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [testdb].[ProcessedAttendance]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [testdb].[ProcessedAttendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[AttDate] [date] NULL,
	[HolidayFraction] [decimal](5, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [testdb].[Salary]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [testdb].[Salary](
	[EmployeeID] [int] NULL,
	[MonthNo] [int] NULL,
	[YearNo] [int] NULL,
	[TotalHoliday] [decimal](5, 2) NULL,
	[Deduction] [decimal](10, 2) NULL,
	[FinalSalary] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [testdb].[SundayAttendanceLog]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [testdb].[SundayAttendanceLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [varchar](50) NULL,
	[AttDate] [date] NULL,
	[InTime] [varchar](20) NULL,
	[OutTime] [varchar](20) NULL,
	[BreakTime] [varchar](20) NULL,
	[CreatedOn] [datetime] NULL DEFAULT (getdate()),
	[remark] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [testdb].[Users]    Script Date: 4/16/2026 11:07:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [testdb].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
