<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 <connectionStrings>
   <add name="db" connectionString="Data Source=mssql2017.adnshost.com,1533;Initial Catalog=testdb;User ID=testdb;Password=testdb@2575;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
   <!--<add name="db"
        connectionString="Data Source=DESKTOP-77HDSM3\SQLEXPRESS;Initial Catalog=dangifashion;Integrated Security=True;"
        providerName="System.Data.SqlClient"/>-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />

  </connectionStrings>
    <system.web>
       <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
